body {
  margin: 20px;
  background-color: #efefef;
  
}

h1 {
    font-size: 150px;
    font-family: "bodoni 72 smallcaps", "prata";
    margin: 0;
}

article {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    line-height: 1.4;
    margin-top: 0;
    margin-right: 40px;
}

p {
  margin-left: 200px;
  font-size: 40px;
}

li {
  margin-left: 200px;
  font-size: 20px;
}

  
