body {
  margin: 20px;
  background-color: #efefef;
  
}

h1 {
    font-size: 170px;
    font-family: "bodoni 72 smallcaps", "playfair display sc", "times";
    margin: 0;
}

article {
    font-size: 15px;
    font-weight: bold;
    margin-left: 200px;
    line-height: 1.4;
    margin-top: 0;
    margin-right: 40px;
}

p {
  margin-left: 180px;
  font-size: 40px;
  padding: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-style: italic;
}

li {
  margin-left: 200px;
  font-size: 15px;
  margin-top: 0;
}

  
